body {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin: 30px;
}
header {
    background-color: #707070;
}
h1 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#right-align {
    text-align: right;
}
div {
    margin-bottom: 30px;
}

.progress-bar-container {
    margin-top: 10px;
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    background-color: #4caf50;
    width: 0;
    transition: width 0.5s;
}